# Core functionality - changes here should be rare!
/src/app.py                   @KoyanagiYuuki
/src/backend/database.py      @KoyanagiYuuki
/src/backend/routers/auth.py  @KoyanagiYuuki

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KoyanagiYuuki
